.form-filter form .form-group {
    flex-basis: 100%;
}

/* blog-detail styling-start */
.blog-section {
    margin-top: 90px;
}
.blog-title {
    font-size: 30px;color: var(--primary-black);font-weight: 700;margin-bottom: 20px;text-align: center;
}
.blog-img figure {
    width: 100%;
}
.blog-img figure img {
    display: block;width: 100%;
}
/* blog-detail styling-end */
